@charset "utf-8";
/* *{outline:1px solid red;} */
body{margin:0;}
/* 공통 */
.container{
width:1000px; height:100%; margin: 0 auto;
}
ul {
padding-left: 0; list-style-type: none;
margin:0;
}
a {
text-decoration: none;
color: #000;
}

/* 최상위 메뉴 */
.uppermost {
background-color: #c30000; height:30px;
}
.uppermost .container-upm{
background-color: #c30000; color:white;
width: 100%;
}
.uppermost .container-upm * {
/* outline:1px solid red; */
}
.uppermost .container-upm .upm-menu li {
float:left;
padding: 3px 5px;
}
.uppermost .container-upm .upm-menu li:nth-child(1){
  padding-left:30px;
}
.uppermost .container-upm .upm-menu li:nth-child(2){
width:60px; 
font-family: 'Roboto', sans-serif;
font-weight: 700;
}
.uppermost .container-upm .upm-menu li:nth-child(3){

}
.uppermost .container-upm .upm-menu li:nth-child(4){
width:100px; 
font-family: 'Roboto Slab', serif;
font-weight: 700;
}
.uppermost .container-upm .upm-menu li:nth-last-child(1){
  float:right; padding-right:30px;
}
.uppermost .container-upm .upm-menu li:nth-last-child(1) input {
  border-radius: 5px;
  border:none; outline:none;
  padding:3px 0;
  margin-right:5px;
}
/* 헤더 */
.header{
background-color: aqua; height: 200px;
}
.header .container-h{
width:100%;
background-image: url("https://cdn.pixabay.com/photo/2017/12/15/13/51/polynesia-3021072_640.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center center;

position:relative;
font-family: 'Nanum Pen Script', cursive;
font-weight: 400;
}

.header .container-h::after{
content: "행복한 수요일!";
font-size: 4rem;
position:absolute;
left:100px;
top:30px;
color:white;
text-shadow: 10px 10px #333;
}
.header .container-h:hover:after{
font-size: 5rem;
transform: rotate(-10deg);
}

/* 메뉴 */
.nav {
  background-color: #444; height:30px; 
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;  
}
.nav ul li {
  float:left; padding:3px 0; margin-right:20px;
  position: relative;
  letter-spacing: 0.13em;
}
.nav ul li:nth-child(1){
padding-left: 0;
}

.nav ul li a{
  color:#eee;
}

.nav ul li:hover::before {
  content: " ";
  display: block;
  position:absolute;
  left:0; top:1.5em; 
  width:100%; height:3px;
  background-color: white; 
  transition: all 1s;
}

/* 메인 */
.main{
background-color: transparent;
height: 450px;
}
.sidebar{
width:30%;background-color: #ff7539; height:100%;
float:left;
}
.content{
width:70%;background-color:#ffab91;height:100%;
float:left;
}
.content form {
width: 50%; margin: 50px auto;
}
.content form p {
text-align: center;
padding: 10px 0;
}
.content form {
color: white;
font-weight: bold;
}
.content form ul li{
padding: 5px 0; 
}
.content form ul li input{
  box-sizing: border-box;
  width:90%;
  vertical-align: middle;
  margin-right:5px;
}
.content form ul li:nth-child(2){
  font-size:1.2em;
  color: #1c313a;
}
.content form ul li:nth-child(4){
  font-size:1.2em;
  color: #1c313a;
}
.content form ul li span{
  vertical-align: top;
}
.content form ul li button{
width:100%;
border:none;
padding:5px 0;
background-color: teal;
color:white;
font-weight: bolder;
}
/* 푸터 */
.footer {
  border-top:1px solid gray;
  padding: 30px 0;
}

.footer .container { width:100%;}

/* footer 레이이아웃 */
.footer-contents {text-transform: uppercase; width:90%; margin:0 auto; margin-bottom: 30px;}
.footer-contents .footer-contents-1, 
.footer-contents .footer-contents-2, 
.footer-contents .footer-contents-3, 
.footer-contents .footer-contents-4{
  float: left; margin-right:20px;
} 
.footer-contents .footer-contents-1{
  width:150px; height:150px; background-color: orangered; color:white;
  text-align: center; line-height: 150px;
}

.copyright {text-align: center;}

.clearfix:after{
  content: " "; display: block; clear:both;
}

/* footer 스타일 */
.footer-contents ul li { padding: 3px 0; }
.footer-contents ul .title{
  font-weight: bold; padding-bottom: 10px;
}
.footer-contents .emphasis { font-weight:bolder; color:#f0e;}
.footer-contents .tel { font-size: 2em; padding: 20px 0;}
.footer-contents .account{ color: rgb(24, 138, 209);}

.footer-contents .highlight-01{color:white; background-color: blue; padding: 0 3px;}
.footer-contents .highlight-02{color:white; background-color: black;}
.copyright .highlight-03{background-color: lightgray;}

/* 유틸 */
.clearfix::after{
content: " "; display: block; clear:both;
}
